:root {
  --font-size-h1: 3.05em;
  --font-size-h2: 2.44em;
  --font-size-h3: 1.95em;
  --font-size-h4: 1.56em;
  --font-size-h5: 1.25em;
  --font-size-body: 1em;
  --font-size-caption: 0.8em;
  --font-size-small-print: 0.64em;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
